<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746363711706-3k419stbpts410om7sba6qeh2mgh616b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746363711706-3k419stbpts410om7sba6qeh2mgh616b</string>
	<key>API_KEY</key>
	<string>AIzaSyALA5aAEkFfCpdQv70Dt4CeQK55xKBIx1s</string>
	<key>GCM_SENDER_ID</key>
	<string>746363711706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bestFlutterUiTemplates</string>
	<key>PROJECT_ID</key>
	<string>alcaldia-para-todos</string>
	<key>STORAGE_BUCKET</key>
	<string>alcaldia-para-todos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746363711706:ios:b9d93c365a8cb08e2f75e3</string>
</dict>
</plist>